$paddingSides: 5vw;

.dashboard-header {
	@include header;
	height: unset;
	padding: 4vh $paddingSides;
	background-color: var(--clr-main);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;

	.title {
		font-size: var(--fs-large);
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		li {
			cursor: pointer;
			font-size: var(--fs-small);
			margin: 0 0 0 2em;
		}
	}
}

.dashboard-container {
	padding: 6vh $paddingSides;

	.warning {
		@include error(var(--clr-yellow));
		padding-left: 2rem;
		margin: 0 0 3vh 0;
		justify-content: flex-start;
	}

	.title {
		color: #121212;
		font-size: var(--fs-large);
		z-index: 2;
	}

	.top-section {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mobile {
			flex-direction: column;
			justify-content: center;
			& > * {
				margin: 0 0 2vh 0;
			}
		}

		.available-tests {
			text-align: center;
			font-size: var(--fs-large);
			color: #242424;
			.number {
				font-size: var(--fs-xlarge);
			}
		}

		.buttons {
			display: flex;
			justify-content: center;
			align-items: center;

			.button {
				@include number;
				flex-direction: column;
				width: calc(14vh + 8vw);
				height: calc(14vh + 8vw);
				flex-direction: column;
				padding: 2.5rem;
				cursor: pointer;
				margin: 0 0 0 3vw;
				border-radius: 20px;

				img {
					width: 60%;
				}

				&:hover {
					transform: scale(1.1);
				}

				.label {
					font-size: var(--fs-xsmall);
					margin-top: 1rem;
					color: #2e2e2e;
					text-align: center;
				}
			}
		}
	}

	.all-students {
		margin: 8vh 0;
		width: 100%;

		.title {
			font-size: var(--fs-medium);
			margin: 0 0 2vh 0;
			color: #121212;
		}

		.search-bar {
			input {
				width: 100%;
				font-size: var(--fs-small);
				padding: 0.6em 1em;
				border-radius: 12px;
				border: none;
			}
		}

		.students {
			margin: 4vh 0;
			.student {
				@include shadows;
				margin: 3vh 0;
				padding: 2rem 2rem;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-radius: 18px;

				@include mobile {
					flex-direction: column;

					.info {
						margin: 0 0 2vh 0;
					}
				}

				.info {
					display: flex;
					justify-content: center;
					align-items: center;

					.name {
						font-size: var(--fs-small);
						font-weight: bold;
						color: #202020;
					}
					.date {
						font-size: var(--fs-xsmall);
						color: #6b6b6b;
						margin: 0 0 0 1rem;
					}
				}

				.student-buttons {
					display: flex;
					justify-content: center;
					align-items: center;
					.button {
						font-size: var(--fs-xsmall);
						margin: 0 0 0 2rem;
						padding: 0.5em 1.4em;
						color: #fff;
						border-radius: 8px;
						font-weight: bold;
						cursor: pointer;
						&.view {
							background-color: #f6bd2a;
						}
						&.start {
							background-color: #41d929;
						}
					}
				}
			}
		}
	}
}

.add-student-container {
	form {
		padding: calc(5vh + 2vw) 0 0 0;
		width: 80%;
		margin: 0 auto;

		@include tablet {
			width: 60%;
		}
		@include desktop {
			width: 40%;
		}

		.input-group {
			@include input;
		}
		.custom-checkbox {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			font-size: var(--fs-xsmall);
			user-select: none;
			gap: 8px;

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			.checkmark {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 25px;
				width: 25px;
				background-color: rgb(255, 255, 255);
				border: 2px solid #ccc;
			}

			/* When the checkbox is checked, add a blue background */
			input:checked ~ .checkmark {
				background-color: var(--clr-main);
			}

			.checkmark:after {
				content: '';
				position: absolute;
				display: none;
			}

			input:checked ~ .checkmark:after {
				display: block;
			}

			.checkmark:after {
				top: 6px;
				width: 4px;
				height: 8px;
				border: solid #fff;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
			}
		}
		.button {
			@include button(var(--clr-yellow));
			margin: 4vh auto;
			font-size: var(--fs-small);

			@include mobile {
				width: 100%;
			}
		}

		.radio-container {
			position: relative;
			padding-left: 35px;
			cursor: pointer;
			font-size: var(--fs-xsmall);
			user-select: none;
			display: flex;
			align-items: center;
			margin: 5px 0;
		}

		/* Hide the browser's default radio button */
		.radio-container input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		/* Create a custom radio button */
		.radio {
			position: absolute;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: #fff;
			box-shadow: 0 0 0 2px #ccc;
			border-radius: 50%;
			transition: 0.2s;
		}

		/* On mouse-over, add a grey background color */
		.radio-container:hover input ~ .radio {
			background-color: #ccc;
		}

		/* When the radio button is checked, add a blue background */
		.radio-container input:checked ~ .radio {
			background-color: var(--clr-main);
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.radio:after {
			content: '';
			position: absolute;
			display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.radio-container input:checked ~ .radio:after {
			display: block;
		}

		/* Style the indicator (dot/circle) */
		.radio-container .radio:after {
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: white;
		}
	}
}

.student-info-container {
	.container {
		margin: 0 0 5vh 0;
	}

	.subtitle {
		color: #1f1d20;
		font-size: var(--fs-small);
		margin: 0 0 1rem 0;
	}

	.info-container {
		@include shadows;
		width: 100%;
		display: flex;
		align-items: center;
		border-radius: 18px;
		padding: 4vh 2vw;

		.col {
			flex: 1;
			display: flex;
			justify-content: center;
			flex-direction: column;
			gap: 1rem;
			padding: 0 2vmin;
		}

		.item {
			font-size: var(--fs-xsmall);
			color: #4d4950;
			.label {
				font-weight: bold;
			}
		}

		.divider {
			width: 2px;
			background: red;
		}
	}
	.result-container {
		display: flex;
		flex-direction: column;
		gap: 5vh;
		@include tablet {
			width: 80%;
			justify-self: start;
		}

		h3 {
			font-size: var(--fs-xsmall);
		}

		.result-paragraph {
			display: flex;
			flex-direction: column;
			gap: 1.5vh;
			h5 {
				font-size: var(--fs-xsmall);
			}
		}

		.text {
			line-height: 1.7;
			font-size: var(--fs-xsmall);
		}

		ul {
			padding: 0 3rem;
			li {
				margin: 1.5rem 0;
				h5 {
					margin: 0 0 10px 0;
				}
			}
		}
	}

	.result-icons-container {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 6px 0 0 0;
	}
}

.counter-button {
	background-color: #fff;
}
