.get-started-header {
	background: linear-gradient(107.92deg, #4effbf -2.1%, #6ac1f2 120.27%);
	.link {
		margin: 0;
		padding: 0;
		height: 85%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.get-started-container {
}
