.landing-container {
	background-color: #fff;
}
.landing-page {
	section {
		padding: 6vh var(--padding-sides) 10vh var(--padding-sides);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.main-section {
		.title {
			font-weight: 300;
			font-size: var(--fs-large);
			color: #242424;
			text-align: center;
			margin: 0 0 4vh 0;
			z-index: 1;
		}

		.steps-container {
			width: 100%;
			display: flex;
			& > * {
				flex: 1;
			}
			.steps {
				@include shadows;
				padding: 1em 1.5em;
				border-radius: 16px;
			}

			.icons {
				position: relative;
				@include mobile {
					display: none;
				}
				.icon {
					position: absolute;
					animation: fade-in 1s forwards;
					transform: scale(0);
					&.icon-1 {
						left: 1vmin;
						top: 1vmin;
					}
					&.icon-2 {
						right: 6vw;
						top: 5vh;
					}
					&.icon-3 {
						top: 40%;
						right: 50%;
						animation-delay: 120ms;
					}
					&.icon-4 {
						right: 3vw;
						bottom: 4vh;
						animation-delay: 180ms;
					}
					&.icon-5 {
						left: 4vw;
						top: 4vh;
						animation-delay: 250ms;
					}
					&.icon-6 {
						right: 5vw;
						top: 8vh;
						animation-delay: 230ms;
					}
					&.icon-7 {
						right: 40%;
						bottom: 30%;
						animation-delay: 320ms;
					}
					&.icon-8 {
						bottom: 2vh;
						left: 30%;
						animation-delay: 340ms;
					}
					@keyframes fade-in {
						from {
							transform: scale(0);
						}
						to {
							transform: scale(1);
						}
					}
				}
			}

			.step {
				display: flex;
				align-items: center;
				margin: 2.5vh 0;
				animation: appear 0.3s forwards;
				animation-delay: attr(data-delay);
				.number-container {
					margin: 0 1em 0 0;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: var(--fs-small);
					color: #242424;

					.number {
						position: absolute;
					}
				}
				.label {
					font-size: var(--fs-small);
					color: #121212;
				}
			}

			@keyframes appear {
				from {
					opacity: 0;
					display: none;
				}
				to {
					display: block;
					opacity: 1;
				}
			}
		}
		.button {
			@include button;
			margin: 4vh 0 0 0;
		}
	}

	.about-section {
		.item-container {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 0 0 10vh 0;
			@include tablet {
				text-align: center;
			}
			.title {
				font-size: var(--fs-small);
				font-weight: 600;
				color: #242424;
				margin: 0 0 3vh 0;
			}

			.text {
				font-size: var(--fs-small);
				line-height: 1.6;
				font-weight: 300;
				color: #272727;
				@include tablet {
					padding: 0 var(--padding-sides);
				}
			}
			.carousel-container {
				width: 100%;
			}
			.carousel {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				.slider-item {
					background-color: rgb(187, 187, 187);
				}

				.arrow {
					$size: 5px;
					border: solid #303030;
					border-width: 0 $size $size 0;
					display: inline-block;
					padding: $size;
					margin: 0 1rem;
					cursor: pointer;

					&.left {
						transform: rotate(135deg);
					}
					&.right {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
