.test-container {
	background-color: #f8f8f8;
	min-height: 100vh;
	overflow-x: hidden;

	.button-container {
		margin: 4vh auto;

		.next-button {
			@include button;
			margin: 2vh auto;
		}
	}
	.warning {
		font-size: var(--fs-small);
		color: var(--clr-red);
		text-align: center;
	}
}

.test-exercise-container {
	background-color: #f8f8f8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 4vh 5vw;

	.icon {
		@include icon-button;
	}

	.instruction {
		font-size: var(--fs-medium);
		font-weight: 600;
		color: #3a3a3a;
		text-align: center;
		z-index: 1;
	}

	.number {
		@include number;
	}
}

.test-header {
	background-color: var(--clr-main);
	color: #fff;
	height: unset;
	padding: 6vh 0;
	width: 100%;
	justify-content: center;
	.title {
		font-size: var(--fs-large);
		text-align: center;
		width: 80%;
	}
}

.count-items-container {
	.images {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 5vh 0 10vh 0;
		flex-wrap: wrap;
		.count-image {
			width: 100px;

			@include desktop {
				margin: 0 1vw;
			}
			margin: 1rem;
		}
	}
	.number-input {
		@include number-input;
		margin: 2vh 0 0 0;
		input {
			width: 200px;
			height: 200px;
			padding: 1vmin;
		}
	}
	/* .numbers {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin: 3vh 0;
		flex-wrap: wrap;
		.number {
			width: 100px;
			height: 100px;
			cursor: pointer;
			@include desktop {
				margin: 0 1.5rem;
			}
			margin: 1rem;
			&:hover:not(.selected) {
				background-color: rgb(218, 218, 218);
			}
		}
		.selected {
			background-color: var(--clr-yellow);
		}
	} */
}

.number-on-screen-container {
	.number {
		width: 200px;
		height: 200px;
		font-size: 80px;
	}
	.instruction {
		margin: 5vh 0 0 0;
	}
}

.prev-post-container {
	.numbers {
		display: flex;
		width: 60vw;
		@include tablet {
			margin: 8vh 0;
			justify-content: space-between;
		}
		@include mobile {
			flex-direction: column;
			align-items: center;
		}
		.number {
			width: 15vw;
			height: 15vw;
			font-size: calc(70px + (100 - 70) * ((100vw - 300px) / (1600 - 300)));
			@include mobile {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25vw;
				height: 25vw;
			}
		}
		.number-input {
			@include number-input;
			@include mobile {
				margin: 4vh 0;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column-reverse;
				label {
					margin: 0 0 2vh 0;
				}
			}
		}
	}
}
.draw-word-container {
	.word-to-draw {
		font-size: var(--fs-large);
		margin: 0 0 2vh 0;
		z-index: 1;
	}
	.sketch-container {
		position: relative;
		.sketch {
			@include shadows;
		}
		.controls {
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 100;

			.color {
				@include shadows;
				width: 36px;
				height: 36px;
				margin: 0 0.5em;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: 0.15s;
				&:hover {
					transform: scale(1.15);
				}
			}
			.red {
				background-color: var(--clr-red);
			}
			.blue {
				background-color: var(--clr-main);
			}
			.green {
				background-color: var(--clr-green);
			}
			.yellow {
				background-color: var(--clr-yellow);
			}
			.black {
				background-color: #121212;
			}
			.eraser {
				background-color: #ddd;
			}
		}
	}
}

.join-with-arrows-container {
	.images {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 3vmax;
		padding: 5vh 0;
		@include mobile {
			grid-template-columns: repeat(3, 1fr);
		}
		.image {
			@include number;
			padding: 10px;
			width: 120px;
			height: 120px;
		}
	}
}

.split-syllables-container {
	.image {
		@include number;
		width: 300px;
		height: 300px;
		margin: 2vh 0;
	}

	.circles {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2vw 0;
		.circle {
			width: 60px;
			height: 60px;
			margin: 0 1vw;
			border-radius: 50%;
			cursor: pointer;
			border: 6px solid var(--clr-yellow);
			transition: 0.2s;
			&.selected {
				background-color: var(--clr-yellow);
			}
		}
	}
	.word-to-split {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		font-size: var(--fs-xlarge);
		text-align: center;
		font-weight: bold;
		color: #3ca936;
		letter-spacing: 0.05em;
		text-decoration: underline;
		padding: 2vh 0;
		&:focus {
			outline: none;
		}
	}
}

.write-letter-container {
	.number {
		@include number-input;
		width: 200px;
		height: 200px;
		margin: 4vh 0 0 0;
		input {
			font-weight: bold;
			color: #121212;
			text-transform: uppercase;
		}
	}
}

.multiple-choice-container {
	.options {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-content: center;
		gap: 2vw;
		margin: 4vh 0 0 0;
		.option {
			@include number;
			font-size: var(--fs-medium);
			padding: 2vh 3vw;
			border-radius: 12px;
			cursor: pointer;
			&:hover:not(.selected) {
				background-color: rgb(209, 209, 209);
			}
		}
		.selected {
			background-color: var(--clr-yellow);
		}
	}
}

.say-the-letters-container {
	.letters {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 5vh 0;

		.letter {
			@include number;
			width: 100px;
			height: 100px;
			margin: 3vh 1vw;

			&.answered {
				box-shadow: 0 0 0 4px #121212;
			}
		}
	}
}

.gap-question-container {
	.timer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 0 5vh 0;
		.number {
			width: 130px;
			height: 130px;
			font-weight: 300;
		}
	}
	.number-input {
		@include number-input;
		margin: 0 20vw;
		input {
			font-weight: bold;
			padding: 0 2rem;
			height: 200px;
		}
		label {
			margin-top: 3vh;
		}
	}
	.instruction {
		margin: 0 0 2vh 0;
	}
}

.motion-animation {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-main);
	z-index: 1000000000;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;

		h1 {
			font-size: var(--fs-large);
		}

		.loader {
			border-radius: 50%;
			width: 100px;
			height: 100px;
			border: 16px solid #fff;
			border-top: 16px solid var(--clr-yellow);
			margin: 5vh 0;
		}
	}
}

.manual-icon-container {
	@include shadows;
	padding: 0.7rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;

	.dot {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: var(--clr-green);
		margin-right: 14px;
	}
	.text {
		color: #464646;
		font-weight: 600;
	}
	position: relative;

	&.absolute {
		position: fixed;
		bottom: 30px;
		right: 30px;
	}

	.tooltip {
		opacity: 0;
		transition: 0.2s;
		visibility: hidden;
		color: #fff;
		text-align: center;
		padding: 0.4em 0.6em;
		border-radius: 8px;
		position: absolute;
		background-color: rgb(40, 40, 40);
		z-index: 1;
		left: 50%;
		top: 0%;
		width: 15vw;
		transform: translate(-50%, -105%);
	}

	&:hover {
		.tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}
