.verify-email-container {
	padding: 10vh 5vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--clr-main);
	color: #fff;
	text-align: center;

	.title {
		font-size: var(--fs-large);
	}
	.subtitle {
		font-size: var(--fs-small);
		font-weight: 600;
		margin: 2vh 0 4vh 0;
	}

	.button {
		@include button(var(--clr-yellow), var(--clr-main));
	}
}
