.join-with-arrows-container {
	.instruction {
		font-size: var(--fs-large);
	}

	.options {
		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.pictogram-with-sound {
		@include number;

		img {
			width: clamp(100px, 30vw, 120px);
			height: clamp(100px, 30vw, 120px);
		}
	}
}
