.match-words-to-image-container {
	.instruction {
		font-size: var(--fs-large);
	}

	.options {
		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.pictogram-with-sound {
		@include number;

		img {
			width: clamp(120px, 30vw, 200px);
			height: clamp(120px, 30vw, 200px);
		}
	}
}
